#contenedor {
    width: 100%;
    
}

#cabecera {
    background-color: rgb(253, 151, 151)
}

#menu {
    float: left;
    background-color: rgb(250, 250, 174);
    width: 15%;
}

#contenido {
    float: left;
    width: 85%;
    background-color: rgb(179, 241, 137);
}

#pie {
    clear: both;
    background-color: rgb(144, 190, 243);
}
